<a href="#" class="cd-top" id="back-to-top">Top</a>

{% capture icon-github %}{% include icon-github.svg %}{% endcapture %}
{% capture icon-rss %}{% include icon-rss.svg %}{% endcapture %}

<footer class="footer navbar-fixed-bottom navbar-default">
  <div class="container">
    <p class="text-muted">
    &copy;{{ site.time | date: '%Y' }} Philippe Virouleau
    | <a href="https://github.com/viroulep" class="icon" target="_blank">{{ icon-github | strip_newlines }}</a>
    | <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="icon">{{ icon-rss | strip_newlines }}</a>
    | <a href="/about#contact">Contact</a>
    </p>
  </div>
</footer>


<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
