<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top blog-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">~Philippe Virouleau</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if page.section == "home" %} class="active"{% endif %}><a href="/">Home</a></li>
        <li {% if page.section == "about" %} class="active"{% endif %}><a href="/about">About</a></li>
        <li {% if page.section == "cubing" %} class="active"{% endif %}><a href="/cubing">Cubing</a></li>
        <li {% if page.section == "computerscience" %} class="active"{% endif %}><a href="/computerscience">Computer Science</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
